RewriteEngine on
RewriteBase /./
RewriteRule !\.(js|css|ico|gif|jpg|png|html|htm|pdf)$ index.php
AddDefaultCharset utf-8
RewriteCond %{HTTP_HOST} !^www\.atvirasalus\.lt$ [NC]
RewriteRule .? http://www.atvirasalus.lt%{REQUEST_URI} [R=301,L]