.new_right {
	float: right;
	margin-left: 10px;
	width: 240px;
}
.new_left {
	float: left;
	width: 610px;
}
.new_block {
	border-bottom: 1px solid #ccc;
}
.new_block .avatar {
	float: left;
	width: 50px;
	padding-top: 3px;
	overflow: hidden;
}
.new_block .post {
	float: left;
	margin-left: 20px;
	width: 460px;
	overflow: hidden;
}
.new_block .post .post_action {
	margin-bottom: 5px;
	font-size: 13px;
}
.new_block .post .post_action a {
	font-weight: bold;
}
.post_stamp {
	text-align: right;
	font-size: 10px;
	color: #666;
	margin-top: 8px;
}
.new_tweet-attachment {
	margin-top: 15px;
}
.new_tweet-attachment .wi-240 {
	width: 370px;
}
.new_tweet-attachment .wi-320 {
	width: 500px;
}
.white {
	background-color: #ffffff;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
}
.ico_idea_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_idea_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_market {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_market.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_market_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_market_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_vote {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_vote.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_idea {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_idea.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_food {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_food.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_food_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_food_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_event_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_event_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_forum_post {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_forum_post.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_article {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_article.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_article_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_article_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_session {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_session.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_event {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_event.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_recipe {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_recipe.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_recipe_comment {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_recipe_comment.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_tweet {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_tweet.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_user {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_user.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_rss {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_rss.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.ico_blog {
	background-color: #eee;
	padding-left: 40px;
	background-image: url("/public/images/new/ico_blog.png");
	background-repeat: no-repeat;
	background-position: 4px 22px;
}
.new_ublock {
	background-color: #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}
.new_filter {
	background-color: #eee;
	padding: 4px;
}
.new_filter input#new_tweet {
	float: left;
	height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 2px;
	background-color: #f5f5f5;
	cursor: pointer;
	padding-left: 15px;
	padding-right: 15px;
}
.new_filter input#new_tweet:hover {
	color: #A8582D;
}
.new_filter select {
	height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 2px;
	background-color: #f5f5f5;
	cursor: pointer;
	float: right;
}
.new_filter button {
	height: 28px;
	cursor: pointer;
	float: right;
}
#tweet_form textarea {
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 545px;
	height: 60px;
	margin-left: 3px;
}
.tt_image {
	width: 70px;
	height: 70px;
}
.tt_images {
	float: left;
	width: 70px;
	overflow: hidden;
	text-align: center;
}
.tt_images a {
	display: inline-block;
	background-color: #ccc;
	text-align: center;
	line-height: 20px;
	height: 20px;
	width: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	color: #000;
}
.tt_info {
	float: left;
	margin-left: 20px;
	width: 440px;
}
.tt_title {
	font-weight: bold;
	margin-bottom: 5px;
}
#tweet_form {
	background-color: #eee;
	padding: 4px;
	text-align: right;
}
.home_more {
	text-align: center;
	margin-top: 10px;
}
.home_user_avatar {
	float: left;
	width: 50px;
	margin-right: 2px;
	margin-bottom: 2px;
	height: 50px;
}
.home_user_name {
	float: left;
	font-weight: bold;
	line-height: 50px;
	width: 150px;
	overflow: hidden;
	height: 50px;
}
.home_user {
	margin-bottom: 5px;
}
input, select, .editable-select-options, .ui-autocomplete {
	text-align: left;
}
.tweet_del {
	color: #666;
	display: inline-block;
	margin-right: 20px;
}
.index_events {
	background-color: #fff;
	border: none;
}
.new_updated_items .ico_idea_comment,
.new_updated_items .ico_idea,
.new_updated_items .ico_food,
.new_updated_items .ico_food_comment,
.new_updated_items .ico_forum_post,
.new_updated_items .ico_article,
.new_updated_items .ico_event_comment,
.new_updated_items .ico_article_comment,
.new_updated_items .ico_session,
.new_updated_items .ico_event,
.new_updated_items .ico_recipe,
.new_updated_items .ico_recipe_comment,
.new_updated_items .ico_tweet,
.new_updated_items .ico_user,
.new_updated_items .ico_rss,
.new_updated_items .ico_blog {
	background-color: #ddd;	
}
.pastlogin_line {
	height: 10px;
	overflow: hidden;
	background-color: #ccc;
}


.new_left_user .new_block .post {
	float: left;
	margin-left: 20px;
	width: 700px;
	overflow: hidden;
}
