
html {
 height: 100%;
}
body
{
	background: #F1F0ED;
	font-family: Arial;
	font-size:12px;
	height: 100%;
	margin: 0;
	padding: 0;
}
a {
    color:#755531;
    font-weight:normal;
    text-decoration:none;
    font-family:Georgia;
}
a:hover {
    color: #F8966E;
}
td {
	font-family: Arial;
	font-size:12px;
}
div {
  font-family: Arial;
	font-size:12px;
}

label {
	font-family: Arial;
	float: left;
	margin-right: 4px;
	font-weight: normal;
	font-size:11px
}
input {
font-family: Arial;
border: 1px solid #999;
background: #FEFEFE url(ui/external/spinner-bg.gif) repeat-x left bottom;

}
select {
font-family: Arial;
border: 1px solid #999;
background: #FEFEFE url(ui/external/spinner-bg.gif) repeat-x left bottom;

}

input:focus { outline: none }

#vc-main{min-height:100%; position:relative;}
#vc-footer{position:absolute; bottom:0; width:100%; height:40px;vertical-align:bottom;margin-top:30/* Height of the footer */}
#content {
 
  padding-top:40;
  padding-bottom:70px;
}

.formError  {
	
	list-style:none;
	
	margin-left:-20px;
	padding:5px;
	position:relative;
	left:20;
	width:80%;
}
.formError li {
	
}


img#logo {
  position:absolute;
  top:0;
  left:5;
  z-index:50;
  
}


#menu-top {
list-style-type: none;
position:relative;
font-family:Georgia;
font-weight:bold;
padding-top:10;

}
#menu-top li{
display: inline;
padding-right:5px;
text-decoration:none;
font-family:Georgia;




}
#menu-top  a{
font-size:16px;
text-decoration:none;
font-family:Georgia;
color: #666666;
}
#menu-top  a:visited {
}
#menu-top  a:hover {
	color: #755531;
}

.pullquote {
    width: 550px;
   color:#777777;

 
     padding-left:60;
     position:absolute;
    top:10;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    text-indent: -1.3em;
  

}
 
.pullquote:before {
    content: "“ ";
    font-size: 17px;
    font-weight: bold;
}
 
.pullquote:after {
    content: " ”";
    font-size: 17px;
    font-weight: bold;
}

