root { 
    display: block;
}
img {
	border: 0px;
}
body {
	padding: 0px;
	margin: 0px;
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	color: #333;
}
.clear {
	clear: both;
}
a, a:visited {
	color: #755531;
	text-decoration: none;
}
a:hover {
	color: #F8966E;
}
h1, h2, h3 {
	padding: 0px;
	margin: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	display: inline;
}

/* */

body {
	background-color: #F1F0ED;
}
#header_container {
	width: 1101px;
	overflow: hidden;
	margin-top: 12px;
}
#main_container {
	width: 1101px;
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 60px;
}
#logo {
	display: block;
	float: left;
	width: 120px;
	height: 112px;
	background-image: url("/public/images/new/logo.png");
	background-repeat: no-repeat;
	margin-left: 50px;
}
#top_container {
	width: 868px;
	margin-left: 63px;
	float: left;
}
#proverb {
	margin-top: 12px;
	float: left;
	color: #777;
	font-size: 12px;
	font-style: italic;
}
#proverb:before {
	content: "“ ";
	font-size: 17px;
	font-weight: bold;
}
#proverb:after {
	content: " ”";
	font-size: 17px;
	font-weight: bold;
}
#userinfo {
	float: right;
}
#userScreen-menu li a {
	padding: 4px 10px 4px 10px;
	display: block;
}
#mail_counter {
	background-color: #F1F0ED;
	padding: 2px 5px 2px 5px;
	color:#b62925;
	border-radius:3px;
	font-size: 10px;	
}
ul#topmenu {
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-top: 20px;
}
ul#topmenu li {
	display: inline;
	margin-right: 20px;
}
ul#topmenu li a, ul#topmenu li a:visited {
	font-size: 16px;
	font-weight: bold;
}
ul#topmenu li a:hover {
	color: #000;
}
#left {
	width: 160px;
	overflow: hidden;
	margin-left: 30px;
	float: left;
}
.banner {
	background-color: #fff;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	height: 140px;
	display: table;
	width: 160px;
}
.banner a {
	display: table-cell;
	vertical-align: middle;
}
#main_content {
	float: left;
	width: 868px;
	margin-left: 43px;
	overflow: hidden;
}
#user-login-links {
	background-color: #fff;
	margin-top: 12px;
	padding: 7px 10px 7px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#login-form dl {
	clear: left;
	margin-bottom: 5px;
}
#login-form dt {
	width: 60px;
	float: left;
	text-align: right;
	margin-left: 10px;
	margin-right: 20px;
	line-height: 26px;
}
#login-form dd {
	float: left;
	padding: 0px;
	margin: 0px;
}
#login-form dd input[type=text],
#login-form dd input[type=password] {
	width: 150px;
}
#user_info_label {
	float: left;
	line-height: 26px;
	margin-right: 10px;
}
#user_info_name {
	float: right;
	background-color: #755531;
	color: #fff;
	padding: 4px 6px 6px 4px;
	font-weight: bold;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#user_info_name:hover {
	background-color: #C7A27C;
}
#user_info_submenu {
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background-color: #C7A27C;
	z-index: 100;
	color: #fff;
	font-size: 12px;
	float: right;
	padding: 0px;
	margin: 0px;
	padding: 2px 7px 2px 7px;
	display: none;
}
#user_info_submenu li {
	padding: 0px;
	margin: 0px;
	margin-bottom: 2px;
}
#user_info_submenu a {
	display: block;
	color: #FFF;
	padding: 3px 6px 3px 6px;
}
#user_info_submenu a:hover {
	background: #755531;
}
.menu-open {
	background: #C7A27C !important;
	color: #FFF !important;
	outline: none;	
}
#user_info {
	margin-top: 12px;
}
#index_left {
	width: 470px;
	overflow: hidden;
	float: left;
}
#index_right {
	width: 380px;
	overflow: hidden;
	float: left;
	margin-left: 18px;
}
.index_block {
	background-color: #fff;
	margin-bottom: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-right: 20px;
}
.block_header {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	padding-bottom: 8px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 10px;
}
.block_footer {
	text-align: right;
	padding-top: 10px;
}
.block_footer a {
	display: inline-block;
	margin-left: 14px;
}
.index_recipes .block_content a {
	font-size: 15px;
}
.index_recipes .block_content div {
	padding-bottom: 5px;
}
.index-user {
	float: left;
	width: 100px;
	text-align: center;
	margin-bottom: 10px;
}
.index-user span {
	display: block;
}
.index_comments .recipe_name {
	font-size: 15px;
}
.index_comments .block_content div {
	margin-bottom: 5px;
}
.index_sessions .session_name {
	font-size: 15px;
}
.index_sessions .block_content div {
	margin-bottom: 5px;
}
.index_favorites .recipe_name {
	font-size: 15px;
}
.index_favorites .block_content div {
	margin-bottom: 5px;
}
.index_articles a {
	font-size: 15px;
}
.index_articles .block_content div {
	margin-bottom: 5px;
}
.index_blogs .article_name {
	font-size: 15px;
}
.index_blogs .article_summary {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-indent: 20px;
}
.index_blogs .article_summary a {
	text-decoration: none;
	color: #666;
}
.index_forum_block {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #eee;
}
.index_forum_block:hover {
	background-color: #f5f5f5;
}
.index_forum_block .avatar span {
	display: block;
}
.index_forum_block .avatar {
	float: left;
	text-align: center;
	width: 70px;
	overflow: hidden;
}
.index_forum_block .post .post_link {
	text-decoration: none;
	color: #666;
}
.index_forum_block .post .post_title {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
}
.index_forum_block .post {
	float: left;
	margin-left: 20px;
	width: 350px;
}
.inner_container {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	padding-right: 20px;
	margin-bottom: 10px;
}
#beer_styles_container .style_category {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
#beer_styles_container .style_name {
	font-weight: bold;
	color: #666;
	padding-left: 10px;
	padding: 5px;
}
#beer_styles_container .style_subs {
	background-color: #f1f0ed;
	border: 1px solid #dedede;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
#beer_styles_container .subcat_name {
	display: inline-block;
	margin-right: 10px;
	line-height: 22px;
}
#style_info_container {
	
}
.inner_header {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}
#style_description .description_block {
	margin-bottom: 10px;
}
#style_description .description_content {
	float: left;
	width: 630px;
	margin-left: 20px;
}
#style_description .description_title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	float: left;
	width: 180px;
	text-align: right;
}
#style_params {
	margin-top: 30px;
	margin-bottom: 20px;
}
#style_params .params_block {
	margin-bottom: 10px;
	padding-left: 200px;
}
#style_params .params_block .params_title {
	float: left;
	width: 100px;
	font-weight: bold;
	font-size: 14px;
	line-height: 20px;
}
#style_params .params_block .params_content {
	float: left;
	line-height: 20px;
}
.color_palette {
	width: 10px;
	height: 20px;
	float: left;
}
#style_params .params_block .styles_color {
	float: left;
	margin-left: 10px;
}
.style_recipe {
	float: left;
	width: 265px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.recipe_selected {
	background-image: url('/public/images/new/check.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.style_recipes_footer {
	text-align: right;
	padding-right: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.favorites_list_item {
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}
.recipe_list_tags {
	margin-bottom: 30px;
}
.recipe_list_tags ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
}
.recipe_list_tags ul li {
	display: inline;
	padding-left: 20px;
}
#search_form dl {
	padding: 0px;
	margin: 0px;
	margin-bottom: 5px;
}
#search_form dd {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 620px;
	margin-left: 20px;
}
#search_form dt {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	width: 150px;
	font-size: 14px;
	margin-left: 20px;
}
#search_form dd input[type=text]{
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 617px;
	padding: 2px;
}
#search_form dd select{
	height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 623px;
	padding: 2px;
	background-color: #fff;
}
.recipe_info {
	float: left;
	width: 600px;
}
.recipe_info_container {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;	
}
.recipe_image {
	float: right;
	width: 140px;
	text-align: center;
	height: 140px;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.recipe_image div {
	width: 73px;
	height: 138px;
	overflow: hidden;
	margin: auto;
}
.recipe_info_label {
	float: left;
	width: 150px;
	text-align: right;
}
.recipe_info_text {
	float: left;
	margin-left: 10px;
}
.recipe_info_block {
	margin-bottom: 3px;
}
.recipe_tools_container {
	margin-bottom: 20px;
}
.recipe_awards {
	float: left;
}
.recipe_tools {
	float: right;
}
.recipe_tools a {
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
	line-height: 32px;
}
.recipe_tools #vote_icon {
	display: inline-block;
}
.ingridient_category {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.comments_title,
.ingridient_category2 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 20px;
}
.recipe_ingridients_container {
	width: 600px;
	float: left;
	margin-left: 20px;
}
.malt_item,
.yeast_item,
.hop_item {
	margin-bottom: 5px;
}
.malt_item .title,
.yeast_item .title,
.hop_item .title {
	float: left;
	width: 310px;
}
.malt_item .color,
.yeast_item .amount,
.hop_item .alpha {
	float: left;
	width: 100px;
	margin-left: 10px;
}
.malt_item .amount_w,
.hop_item .amount_w {
	float: left;
	width: 80px;
	margin-left: 10px;
}
.malt_item .amount_p,
.hop_item .time {
	float: left;
	width: 80px;
	margin-left: 10px;
}
.recipe_tags div a {
	display: inline-block;
	margin-right: 10px;
}
.recipe_result {
	float: right;
	width: 140px;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding-top: 10px;
	padding-bottom: 10px;
}
.recipe_result_block {
	margin-bottom: 7px;
}
.recipe_result_label {
	float: left;
	width: 70px;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
}
.recipe_result_text {
	float: left;
	width: 60px;
	margin-left: 10px;
}
.recipe_i_bu {
	border-top: 1px solid #ccc;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	text-align: center;
}
.recipe_comment {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}
.recipe_comment_avatar {
	float: left;
	text-align: center;
	width: 80px;
	overflow: hidden;
}
.recipe_comment_avatar span {
	display: block;
}
.recipe_comment_content {
	float: left;
	width: 470px;
	margin-left: 20px;
}
.recipe_comment_date {
	text-align: right;
	margin-top: 5px;
	font-style: italic;
}
.recipe_comment_date a {
	display: inline-block;
}

.recipe_comment_form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
}
.recipe_comment_form_avatar {
	float: left;
	text-align: center;
	width: 50px;
	overflow: hidden;
}
.recipe_comment_form_avatar span {
	display: block;
}
.recipe_comment_form_content {
	float: left;
	width: 500px;
	margin-left: 20px;
}
.recipe_comment_form_content textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 480px;
	height: 60px;
}
.article_title_url {
	font-size: 14px;
	margin-bottom: 5px;
	font-weight: bold;
}
.article_content {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}
.formError {
	list-style: none;
	padding: 10px;
	margin: 0px;
}
.password_form dl {
	margin-bottom: 5px;
}
.password_form dt {
	float: left;
	width: 100px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
.password_form dd {
	float: left;
	margin-left: 10px;
	width: 680px;
}
.password_form dd input[type=text] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 617px;
	padding: 2px;
}
.register_form dl {
	margin-bottom: 5px;
}
.register_form dt {
	float: left;
	width: 150px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
.register_form dd {
	float: left;
	margin-left: 10px;
	width: 630px;
}
.register_form dd input[type=text] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 617px;
	padding: 2px;
}
div.as-table {
	display: table;
	border-collapse:collapse;
	width: 100%;
}
div.as-row {
	display: table-row;
}
div.as-cell {
	display: table-cell;
	padding: 4px;
	border: 1px solid #ccc;
}
.list_icon {
	display: inline-block;
}
.boldify {
	font-weight: bold;
}
div.as-row:hover {
	background-color: #f9f9f9;
}
.my_session_actions {
	margin-top: 10px;
}
.inner_footer {
	margin-top: 10px;
}
.inner_footer a{
	display: inline-block;
	margin-right: 10px;
}
.session_block {
	margin-bottom: 5px;
}
.session_label {
	float: left;
	width: 150px;
	font-weight: bold;
	text-align: right;
}
.session_data {
	float: left;
	width: 670px;
	margin-left: 10px;
}
#bugreport_link {
	position: fixed;
	bottom: 5px;
	right: 5px;
}
#bugreport_button {
	width: 200px;
	white-space: normal;
}
.usergroup_title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.usergroup_actions {
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-top: 10px;
}
.usergroup_avatars a span{
	display: block;
	text-align: center;
}
.usergroup_avatars a {
	display: block;
	width: 100px;
	overflow: hidden;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}
.userlist_block {
	width: 100px;
	overflow: hidden;
	float: left;
	margin-bottom: 10px;
	text-align: center;
}
.userlist_block span {
	display: block;
	text-align: center;
}
.users_avatars {
	margin-bottom: 10px;
}
.comment_list_date {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 15px;
}
.comment_list_block {
	margin-bottom: 5px;
}
.comment_recipe {
	font-size: 15px;
}
.brewsession_edit dl {
	margin-bottom: 5px;
	clear: left;
}
.brewsession_edit dd {
	float: left;
	margin-left: 10px;
}
.brewsession_edit dt {
	float: left;
	width: 150px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
.brewsession_edit dd {
	line-height: 26px;
	font-size: 14px;
}
.brewsession_edit dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 617px;
	padding: 2px;
}
.brewsession_edit dd textarea {
	height: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 617px;
	padding: 2px;
}
#tags ul {
	text-align: center;
	list-style: none;
}
#tags li {
	margin: 2px;
	padding: 2px 5px 2px 5px;
	display: inline-block;
}
#tags li a {
	text-decoration:none;
	color:#fff;
}
.tag1 {
	font-size:110%;
}
.tag2 {
	font-size:120%;
}
.tag3 {
	font-size:140%;
}
.tag4 {
	font-size:160%;
}
.tag5 {
	font-size:180%;
}
#tags .alt {
	text-align:left;
	padding:0;
	background:none;
}
#tags .alt li {
	padding:2px 10px;
	background:#efefef;
	display:block;
}
#tags .alt .tag1, 
#tags .alt .tag2, 
#tags .alt .tag3, 
#tags .alt .tag4, 
#tags .alt .tag5{
	font-size:100%;
}
.brewer_info_avatar {
	float: right;
	width: 80px;
	overflow: hidden;
}
.brewer_info_left {
	float: left;
	width: 740px;
}
.brewer_info_actions {
	margin-top: 15px;
	text-align: center;
}
.brewer_info_actions a {
	font-size: 13px;
	text-align: center;
}
.brewer_info_block {
	margin-bottom: 5px;
}
.brewer_info_label {
	float: left;
	width: 170px;
	text-align: right;
}
.brewer_info_text {
	float: left;
	margin-left: 10px;
	width: 550px;
}
.info_comment {
	margin-bottom: 10px;
	background-color: #f5f5f5;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.info_comment a {
	font-weight: bold;
	display: inline-block;
	margin-bottom: 3px;
}
.profile_avatar img {
	float: left;
}
.profile_avatar span {
	float: left;
	margin-left: 10px;
	padding-top: 17px;
}
.profile_avatar {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.recipe_edit_tools {
	padding: 10px;
}
.recipe_edit_tools a {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 5px;
}
#__profileForm dl {
	clear: left;
	margin-bottom: 5px;
}
#__profileForm dd {
	float: left;
	margin-left: 10px;
	width: 600px;
}
#__profileForm dt {
	float: left;
	font-size: 14px;
	line-height: 28px;
	text-align: right;
	width: 210px;
}
#__profileForm dd input[type="password"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 590px;
	padding: 2px;
}
#__attributesForm dl {
	clear: left;
	margin-bottom: 5px;
}
#__attributesForm dd {
	float: left;
	margin-left: 10px;
	width: 700px;
}
#__attributesForm dt {
	float: left;
	font-size: 14px;
	line-height: 28px;
	text-align: right;
	width: 110px;
}
#__attributesForm dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 690px;
	padding: 2px;
}
#__attributesForm dd select {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 698px;
	padding: 2px;
	background-color: #ffffff;
}
#__attributesForm dd textarea {
	height: 100px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 690px;
	padding: 2px;
}
.event_block {
	float: left;
	width: 265px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	min-height: 170px;
	cursor: pointer;
}
.event_block:hover {
	background-color: #fafafa;
}
.event_title {
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #755531;
}
.event_resume {
	margin: 10px;
}
.event_date {
	margin: 10px;
}
.event_date span {
	font-weight: bold;
}
.participants_list a {
	display: block;
	width: 100px;
	float: left;
	text-align: center;
	overflow: hidden;
	margin-bottom: 10px;
}
.participants_list a span {
	display: block;
}
.progressbar {
	height: 12px;
	border: 0px #755531 solid;
	background: #9B7142;
}
.competition_stat {
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.competition_title {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.padifyb {
	margin-bottom: 5px;
}
.event_i_date {
	margin-bottom: 10px;
	font-size: 14px;
}
.selectable_recipes .style_recipe {
	cursor: pointer;
}
.randomstat_title {
	font-weight: bold;
	text-align: center;
}
.randomstat_data {
	margin-top: 5px;
	margin-bottom: 5px;
}
.mail_tools {
	text-align: right;
	margin-bottom: 10px;
}
.mail_tools a {
	display: inline-block;
	margin-left: 15px;
	font-size: 14px;
	line-height: 32px;
}
.mail_success {
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.mail_row {
	cursor: pointer;
}
.mail_info_block {
	margin-bottom: 5px;
}
.mail_info_label {
	float: left;
	width: 50px;
	font-weight: bold;
	text-align: right;
}
.mail_info_text {
	float: left;
	margin-left: 10px;
	width: 700px;
}
.mail_contents {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 20px;
}
#sendMailForm dl {
	margin-bottom: 5x;
}
#sendMailForm dt {
	float: left;
	width: 70px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
#sendMailForm dd {
	float: left;
	width: 750px;
	margin-left: 10px;
}
#sendMailForm dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 750px;
	padding: 2px;
}
#sendMailForm textarea {
	height: 250px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 830px;
	padding: 2px;
}
.t-unread {
	font-weight: bold;
}
.ui-button, .ui-spinner-up, .ui-spinner-down {
	font-family: arial, verdana, sans-serif;
	font-size: 12px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
	border: 1px solid #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 8px 15px 8px 15px !important;
}
.ui-button:hover, .ui-spinner-up:hover, .ui-spinner-down:hover {
	border-color: #000;
}
.ui-button-smaller {
	padding: 4px 8px 4px 8px !important;
}
.ui-spinner-up, .ui-spinner-down {
	height: 26px;
	width: 28px;
	padding: 5px 7px 5px 7px !important;
	margin: 2px;
	cursor: pointer;
}
label, input[type="checkbox"], input[type="radio"] {
	cursor: pointer;
}
.calc_info_block {
	margin-bottom: 5px;
}
.calc_info_label {
	float: left;
	width: 150px;
	line-height: 26px;
	font-size: 14px;
	text-align: right;
}
.smaller_block .calc_info_label {
	width: 150px;
}
.smaller_block .calc_info_data {
	width: 150px;
}
.calc_info_data {
	margin-left: 10px;
	float: left;
	width: 460px;
}
.calc_info_data select {
	height: 28px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 456px;
	padding: 2px;
}
.calc_info_data input[type="text"]{
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 450px;
	padding-left: 4px;
}
.smaller_block input[type="text"]{
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 50px;
}
.calc_info_data label {
	font-size: 14px;
	margin-right: 10px;
	line-height: 26px;
}
.style_recom {
	line-height: 26px;
	margin-left: 10px;
	color: #999;
}
.style_res {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
}
.beer_color_container {
	width: 140px;
	text-align: center;
	height: 270px;
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	float: right;
}
#beer_color {
	width: 121px;
	height: 230px;
	overflow: hidden;
	margin: auto;
	margin-top: 18px;
}
.coli_cont {
	float: left;
}
.col_cont {
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}
.calc_actions {
	text-align: right;
	float: right;
	width: 280px;
}
#status_div {
	text-align: center;
	background: #ffffcc;
	padding: 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-weight: bold;
	float: left;
	width: 530px;
	margin-top: 2px;
	min-height: 17px;
}
.ing_title {
	font-weight: bold;
	font-size: 14px;
	float: left;
}
.ing_dub {
	color: #999;
	float: right;
}
.ing_dub span {
	padding-right: 10px;
	font-weight: bold;
}
.ing_block {
	margin-bottom: 20px;	
}
#malt-table input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 40px;
	padding-left: 4px;
	font-size: 11px;
}
#malt-table select {
	height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 11px;
}
.ing_actions {
	text-align: right;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.ing_actions input {
	padding: 3px 10px 3px 10px !important;
}


#hop-table input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 40px;
	padding-left: 4px;
	font-size: 11px;
}
#hop-table select {
	height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 11px;
}


#yeast-table input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 40px;
	padding-left: 4px;
	font-size: 11px;
}
#yeast-table select {
	height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
	font-size: 11px;
}
.calc_notes textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	width: 700px;
	height: 100px;
}
select.malt_list {
	width: 280px;
}
select.hop_list {
	width: 430px;
}
select.yeast_list {
	width: 690px;
}
ul.ui-autocomplete {
	padding: 5px !important;
	background: none !important;
	background-color: #eee !important;
}
ul.ui-autocomplete li a {
	padding: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px !important;
	background: none !important;
	border: none !important;
	color: #333 !important;
	margin: 0px !important;
}
#abv,
#bw_result,
#strike_temp {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}
#calc1_container dl {
	margin-bottom: 5px;
}
#calc1_container dt {
	float: left;
	width: 270px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
#calc1_container dd {
	float: left;
	margin: 0px;
	margin-left: 20px;
	width: 530px;
}
#calc1_container dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 520px;
	padding-left: 4px;
	font-size: 11px;
}
#calc2_container dl {
	margin-bottom: 5px;
}
#calc2_container dt {
	float: left;
	width: 270px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
#calc2_container dd {
	float: left;
	margin: 0px;
	margin-left: 20px;
	width: 530px;
}
#calc2_container dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 520px;
	padding-left: 4px;
	font-size: 11px;
}
#calc3_container dl {
	margin-bottom: 5px;
}
#calc3_container dt {
	float: left;
	width: 270px;
	font-size: 14px;
	line-height: 26px;
	text-align: right;
}
#calc3_container dd {
	float: left;
	margin: 0px;
	margin-left: 20px;
	width: 530px;
}
#calc3_container dd input[type="text"] {
	height: 24px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 520px;
	padding-left: 4px;
	font-size: 11px;
}
.rc_image {
	height: 138px;
	width: 73px;
	float: left;
	margin-bottom: 10px;
}
.rc_info {
	float: left;
	width: 180px;
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 7px;
}
.rc_info div {
	margin-bottom: 5px;
}
.rc_title {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
.rct_image {
	height: 50px;
	width: 26px;
	float: left;
	margin: 10px;
}
.rct_info {
	float: left;
	margin: 10px;
	margin-left: 0px;
	width: 770px;
}
#tad_feed ul {
	list-style: none;
	padding: 0px;
}
#tad_feed h4 {
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
#tad_feed p {
	margin: 0px;
	padding: 0px;
}
#tad_feed li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.tw_avatar {
	float: left;
	text-align: center;
	width: 90px;
	overflow: hidden;
}
.tw_avatar span {
	display: block;
}
.tw_data {
	float: left;
	width: 330px;
	overflow: hidden; 
}
#bubl_container .tw_data {
	width: 720px;
}
.tweet-remove {
	display: none;
	float: right;
	width: 14px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #000;
}
.tweet-remove:hover {
	background-color: #999;
}
.tw_item {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.tw_item:hover {
	background-color: #f5f5f5;
}
.tw_text {
	margin-bottom: 10px;
}
.tw_link_image {
	float: left;
	width: 70px;
	overflow: hidden;
	margin-left: 10px;
}
.tw_link_text {
	float: left;
	margin-left: 10px;
}
.tw_link_text span {
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
ul.statuses {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
ul.statuses li {
	padding: 0px;
	margin: 0px;
}
.tweet-msg {
	display: block;
	margin-bottom: 10px;
}
.wi-320 {
	width: 320px;
}
.wi-240 {
	width: 240px;
}
#bubl_container .wi-320 {
	width: 700px;
}
#bubl_container .wi-240 {
	width: 620px;
}
.idea_item {
	background-color: #F6F6F6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}
.idea_user {
	float: left;
	width: 100px;
	overflow: hidden;
	text-align: center;
}
.idea_user span {
	display: block;
	text-align: center;
}
.idea_info {
	float: left;
	width: 570px;
	margin-left: 10px;
}
.idea_title {
	margin-bottom: 10px;
}
.idea_title a {
	font-size: 14px;
	font-weight: bold;
}
.idea_votes {
	float: right;
	width: 100px;
	background-color: #ffffff;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-left: 10px;
}
.idea_votes_title {
	text-align: center;
	margin-bottom: 5px;
}
.idea_votes span {
	font-size: 26px;
	display: block;
	text-align: center;
}
.vote_scale {
	width: 100px;
	height: 5px;
	background-color: #eee;
	overflow: hidden;
	margin-top: 5px;
}
.scale_negative {
	float: left;
	height: 5px;
	background-color: #f00900;
}
.scale_positive {
	float: left;
	height: 5px;
	background-color: #11f605;
}
.scale_neutral {
	float: left;
	height: 5px;
	background-color: #ffa327;
}
.vote_1m, .vote_1p, .vote_0 {
	float: left;
	width: 21px;
	height: 20px;
	background-position: 0px 20px;
	margin: 0px 3px;
}
.vote_1m {
	background-image: url("/public/images/new/vote_down.png");
}
.vote_1p {
	background-image: url("/public/images/new/vote_up.png");
}
.vote_0 {
	background-image: url("/public/images/new/vote_neutral.png");
}
.vote_1m:hover, .vote_1p:hover, .vote_0:hover {
	background-position: 0px 0px;
}
.vote_links {
	margin-top: 10px;
	padding-left: 10px;
}
.total_votes {
	text-align: center;
	margin-top: 10px;
}
.total_votes span {
	display: inline;
	font-size: 12px;
}
.activevote {
	background-position: 0px 0px;
}
.ideas_actions {
	text-align: right;
	margin-bottom: 20px;
}
.ideas_actions a {
	font-size: 14px;
	margin-left: 10px;
}
.idea_user a {
	display: block;
	margin-bottom: 20px;
}
.idea_full_text {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
.idea_files {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #ccc;	
}
.idea_files span {
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}