#tabs {
	margin-bottom: 10px;
	border: none;
	background: none;
	background-color: #ffffff;
	padding: 0px;
}
.ui-tabs-nav {
	background: none !important;
	background-color: #F1F0ED !important;
	border: none !important;
	padding: 0px !important;
}
.ui-tabs-nav li {
	background: none !important;
	background-color: #F1F0ED !important;
	margin-right: 2px !important;
	border-color: #d9d6c4 !important;
}
.ui-tabs-nav li:hover {
}
.ui-tabs-nav li a {
	color: #999 !important;
	line-height: 20px;
	font-size: 14px;
}
.ui-tabs-nav li.ui-tabs-selected {
	background: none !important;
	background-color: #fff !important;
	margin-right: 2px !important;
}
.ui-tabs-nav li.ui-tabs-selected a {
	color: #333 !important;
}